{% extends 'base.html.twig' %}

{% block title %}Page Crypto{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/styles.css') }}">

<div class="rectangle-48">
    <div class="rectangle-43">
        <span class="buy-crypto">Acheter crypto</span>
    </div>
    <div class="rectangle-45">
        <select class="crypto-dropdown">
            {% if cryptos is defined and cryptos|length > 0 %}
                {% for crypto in cryptos %}
                    <option value="{{ crypto.id }}">{{ crypto.name }}</option>
                {% endfor %}
            {% else %}
                <option value="">Aucune crypto-monnaie disponible</option>
            {% endif %}
        </select> 
        <select class="crypto1">
            {% if cryptos is defined and cryptos|length > 0 %}
                {% for crypto in cryptos %}
                    <option value="{{ crypto.id }}">{{ crypto.symbol }}</option>
                {% endfor %}
            {% else %}
                <option value="">Aucune crypto-monnaie disponible</option>
            {% endif %}
        </select>
    </div>
    <div class="rectangle-46">
        <span class="amount">0.00</span>
        <span class="euro">Euro</span>
    </div>
    <button class="rectangle-47">
        <span class="buy">Acheter</span>
    </button>
</div>

{% endblock %}
