{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit User</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group">
            {{ form_label(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.password) }}
        </div>
        <button class="btn btn-primary">Save changes</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_user_list') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
